%h1 Movie Release Year Finder

%form(action="/")
  %input(name="film_title"  value="#{@film_title}")
  %input(type="submit" value="Find Year")

%table
  %tbody
    %thead
      - @columns.each do |header|
        %th= header
    %tr
      - @results.each do |column|
        %td= column
